body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
}

.smurf-box {
  border: 1px solid black;
  width: 45%;
  height: 160px;
  margin: 2%;
}

.form-box {
  border: 1px solid black;
  width: 50%;
  margin: 5% auto;
  padding: 5px 5px 15px 5px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  margin: auto;
}

.form-box input {
  margin: 5px 0px;
}

.form-box button {
  margin-top: 10px;
}
